:root {
  --primary-color: #002313;
  --secondary-color: #007A3F;
  --tertiary-color: #FF751F;
  --quaternary-color: #0097B2;
}

.btn-primary {
  background: var(--secondary-color) !important;
  border-color: var(--secondary-color) !important;
}

.btn-primary:hover {
  background-color: var(--tertiary-color) !important;
  border-color: var(--tertiary-color) !important;
}

.btn-outline-primary {
  text-decoration-color: var(--secondary-color) !important;
  border-color: var(--secondary-color) !important;
  color: var(--secondary-color) !important;
}

.btn-outline-primary:hover {
  background-color: var(--tertiary-color) !important;
  border-color: var(--primary-color) !important;
  color: var(--primary-color) !important;
}

.navbar-brand img {
  width: 200px;
}

.navbar {
  background-color: var(--primary-color) !important;
}

.carousel-item:hover {
  background-color: rgba(0, 0, 0, 0.7);
  cursor: pointer;
  transform: scale(1.02);
  transition: all 0.3s ease-in-out;
}

.carousel-item img {
    max-height: 800px;
}

.card-img-top {
    max-height: 500px;
    object-fit: cover;
    object-position: center;
}

.card-body {
    padding: 10%;
    text-align: center;
}

.competition-result h4 {
    text-align: center;
    margin-top: 2%;
}

.classification-result h4 {
    text-align: center;
    margin-top: 2%;
}

.ref-card .card {
  transition: all 0.3s ease;
}

.ref-card:hover .card {
  transform: scale(1.05);
  z-index: 10;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.player-card .card {
  transition: all 0.3s ease;
}

.player-card:hover .card {
  transform: scale(1.05);
  z-index: 10;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.ref-card img {
    max-width: 300px;
    max-height: 300px;
}

.modal-header {
  background: var(--primary-color) !important;
  color: white;
}

.footer-content {
  background: var(--primary-color) !important;
}