:root {
  --primary-color: #002313;
  --secondary-color: #007A3F;
  --tertiary-color: #FF751F;
  --quaternary-color: #0097B2;
}

.btn-primary {
  background: var(--secondary-color) !important;
  border-color: var(--secondary-color) !important;
}

.btn-primary:hover {
  background-color: var(--tertiary-color) !important;
  border-color: var(--tertiary-color) !important;
}

.btn-outline-primary {
  text-decoration-color: var(--secondary-color) !important;
  border-color: var(--secondary-color) !important;
  color: var(--secondary-color) !important;
}

.btn-outline-primary:hover {
  background-color: var(--tertiary-color) !important;
  border-color: var(--primary-color) !important;
  color: var(--primary-color) !important;
}

.navbar {
  background-color: var(--primary-color) !important;
}

.footer-content {
  background: var(--primary-color) !important;
}